.box {
    width: 60%;
    height: 100px;
    position: relative;
    top: 50px;
    left: 20%;
    background-color: bisque;
    border: 1px solid black;
    text-align: center;
    
}

.main {
    width: 80%;
    height: 500px;
    border: 1px solid black;
    margin: auto;
}

.message {
    text-align: center;
    padding: 10px;
    font-size: 1.3em;
}